<footer>
    <ul id="footer-nav">
        <li >
            <a class="footer-links" href="/">Home</a>
        </li>
        <li>
            <a class="footer-links" href="/collection">Collection</a>
        </li>
        <li>
            <a class="footer-links" href="/shop">Shop</a>
        </li>
        <li>
            <a class="footer-links" href="/search">Search</a>
        </li>
    </ul>
</footer>
