<footer>
    <ul id="footer-nav">
        <li >
            <a class="footer-links" href="#">Home</a>
        </li>
        <li>
            <a class="footer-links" href="#">Collection</a>
        </li>
        <li>
            <a class="footer-links" href="#">Shop</a>
        </li>
        <li>
            <a class="footer-links" href="#">Search</a>
        </li>
    </ul>
</footer>
