<div class="wrapper">
    <p>

    {{#each data.results}}
        <p>{{title}}</p>
        <img src="{{thumbnail.path}}.{{thumbnail.extension}}" alt="" height="100"/>
    {{/each}}
    </p>
    <p>
        {{attributionText}}
    </p>
</div>
