<div id="wrapper">
    <div id="collection" class="">
        <h1>Excellsior, {{firstName}}</h1>

        <h2>Your subscriptions:</h2>
        <ul>
        {{#each subscriptions}}
            <li>{{title}}</li>
        {{/each}}
    </div>
</div>
