<div>
    <div id="search">
        <input type="text" value="" autofocus="autofocus">
        <button type="button" name="button">Search</button>
    </div>

    <div id="results">
        <ul>
        </ul>
    </div>
</div>
