<div>
    <div id="search">
        <h2>Search for a new series</h2>
        <input id="input-search" type="text" autofocus="autofocus" title="Enter a series title or partial title.">
        <button id="button-search">Search</button>
        <p>You can search with any or all of a series title.</p>
        <p>EX: "Amazing Spiderman" or "Old Man Lo"</p>
    </div>

    <div id="results">
        {{#each data.results}}
            <p>{{title}}</p>
        {{/each}}
    </div>
</div>
